[submodule "backend"]
	path = backend
	url = https://github.com/radomirovicvladimir/Hylastix-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/radomirovicvladimir/Hylastix-frontend.git
